<div class="container">
  <h1>Welcome to YAYLIST  RAWWWWR!</h1>
  <p>Hello, world!</p>

  <% @categories.each do |item| %>
  <a href="/<%= item.name %>"><%= item.name %></a>


  <br>
  <% end %>


</div>
